@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f7f5;
  --foreground: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #221710;
    --foreground: #f8fafc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100dvh;
}

/* Material Symbols Helper */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::selection {
  background-color: #f47b25;
  color: white;
}
